<h1>Editing product tag</h1>

<%= render "form", product_tag: @product_tag %>

<br>

<div>
  <%= link_to "Show this product tag", @product_tag %> |
  <%= link_to "Back to product tags", product_tags_path %>
</div>
